body{
  background-image: url("./backgroundSky.jpg"); 
  background-attachment: fixed;
  background-size: cover;
  animation-name: fade-in;
  animation-duration: 3s;
  margin: auto;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vh;
  pointer-events: none;
  margin-top: 5%;
}

.App-header {
  /* background-color: #282c34; */
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(1px + 1vmin); */
  font-size: 1.2rem;
  color: white;
  padding-bottom: 2%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
